# Power BI Files
*.pbix
*.pbit
*.tmp

# System Files
.DS_Store
Thumbs.db
*.log

# Python (if added later)
*.ipynb_checkpoints
_pycache_/
*.pyc
*.pyo
*.pyd
*.env

# VSCode Workspace Settings (Optional)
.vscode/
